body {
    background-color: cadetblue;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

#canvas01 {
    background-color: bisque;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}

.hud {
    border: 2px solid cadetblue;
    width: 600px;
    height: 100px;
    margin: 20px auto;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    border-radius: 5px;

}

.bola {
    width: 40px;
    height: 40px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#placar01 {
    color: black;
    font-size: x-large;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    margin-right: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-texto {
    color: black;
    margin: 0px 20px;
    padding: 20px;
}

p {
    font-size: 20px;
    color: black;
    margin: 0px 5px 0px 0px;
    padding: 0px;
}

.game-over {
    color: red;
    font-size: 120px;
}

.win {
    color: green;
}

.restartBtn {
    display: none;
    margin: 20px 0px;
    color: black;
    cursor: pointer;
}

.restartBtn:hover {
    color: white;
}


.restartBtn span {
    font-size: 50px;
}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: #fff;
}

.bloco-02 {
    position: relative;
    width: 600px;
    height: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 50px;
    margin-bottom: 0px;
}



#botao01:hover {
    color: white;
    cursor: pointer;
    font-size: 50px;
}

#botao01 {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    margin-right: 10px;
    font-size: 50px;
    color: black;
    display: flex;  
}